{% extends "base.html" %}
{% block title %}{% if account %}Регистрация завершена{% else %}Аккаунт не активирован :({% endif %}{% endblock %}

{% block content %}
{% if account %}
  <h1>Аккаунт активирован</h1>
  <p>Поздравляем, {{ account.username }}.
  Ваш аккаунт успешно создан.
  <a href="{% url django.contrib.auth.views.login %}">Войти</a></p>
{% else %}
  <h1>Активация не удалась :(</h1>
  <p>Не удалось активировать ваш аккаунт.
  Пожалуйста убедитесь, что ссылка активации была корректно открыта в браузере.
  Также имейте в виду, что ссылки для активации имеют ограниченный срок действия, и могут быть использованы только один раз.</p>
{% endif %}
{% endblock content %}
