.wrapper {
	background-image: none;
	background-color: white;
	display: block;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}
.header {
	background-image: url('../images/warcraft-header.png');
	height: 265px;
	display: block;
	position: relative;
}
.navigation {
	float: left;
	width: 174px;
	margin: 0px;
}
.almostcontent {
	margin: 0px;
	margin-left: 174px;
}
.content {
	margin: 0px;
	margin-right: 190px;
	padding: 20px;
	width: auto;
}
.banner {
	float: right;
	width: 190px;
	margin: 0px;
}
.footer {
	padding: 0.5em;
	text-align: center;
	vertical-align: middle;
	background: gray;
	clear: both;
}
img.allybanner {
	margin: 0px;
	float: right;
}
.middle {
	/*background-image:url('../images/bg.jpg');*/
	background-color: #3E4346;
	background-repeat: repeat;
	overflow: hidden;
	width: 100%;
	padding: 0px;
}
.borderexternal {
	border: none;
	border-left: 10px #0E1316 solid;
	border-right: 10px #0E1316 solid;
}
.borderinternal {
	border: 10px #262B2E solid;
}
.toppanel {
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 1;
}
.topnavpanel {
	text-align: right;
}
.registration {
	text-align: right;
	padding: 5px;
	padding-top: 0px;
	font-size: small;
}
.loginform {
	text-align: right;
	display: block;
	height: 37px;
	margin-bottom: 0px;
	margin-right: 5px;
	padding: 0px 0px 0px 0px;
	position: relative;
}
input.login_submit {
	display: block;
	background-image: url('../images/login_submit.png');
	width: 33px;
	height: 37px;
	border: none;
	margin: 0px 0px 0px 0px;
	text-align: center;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 0px;
	line-height: 37px;
	float: right;
}
input.login_password {
	display: block;
	background-image: url('../images/login_password.png');
	width: 111px;
	height: 37px;
	border: none;
	margin: 0px 0px 0px 0px;
	text-align: center;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 0px;
	line-height: 37px;
	float: right;
}
input.login_login {
	display: block;
	background-image: url('../images/login_login.png');
	width: 117px;
	height: 37px;
	border: none;
	margin: 0px 0px 0px 0px;
	text-align: center;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 0px;
	line-height: 37px;
	float: right;
}
a {
	color: #ffd100;
	cursor: pointer;
	outline-width: medium;
	outline-style: none;
}
.topnavpanel {
	height: 34px;
}
.topnavpanel a {
	float: right;
	display: block;
	width: 109px;
	height: 24px;
	margin: 5px;
	margin-left: 0px;
	color: white;
	text-align: center;
	line-height: 24px;
	vertical-align: middle;
	background-image: url('../images/button.png');
	text-decoration: none;
}
.topnavpanel a:hover {
	background-image: url('../images/button-hovered.png');
}
.navigation a {
	display: block;
	width: 158px;
	height: 34px;
	margin: 8px;
	color: white;
	text-align: center;
	font-size: large;
	line-height: 34px;
	vertical-align: middle;
	background-image: url('../images/longbutton.png');
	text-decoration: none;
}
.navigation a:hover {
	background-image: url('../images/longbutton-hovered.png');
}
body {
	/*background-image: url('../images/les.jpg');*/
	background-color: black;
	padding: 0;
	margin: 0;
	min-height: 100%;
	position: relative;
	color: #cccccc;
	line-height: 1.4em;
}

.header a.crazylink {
	display: block;
	width:100%;
	height:100%;
	z-index:1;
}