<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nakamar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nakamar.Properties.Settings>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="AutoEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoScroll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="NeededFPS" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="StatesPath" serializeAs="String">
                <value>NakamarStates.dll</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransparentLogBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogBoxFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="HideButtons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogBoxColor" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="WoWAutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WoWPath" serializeAs="String">
                <value>Wow.exe</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>100</value>
            </setting>
        </Nakamar.Properties.Settings>
    </userSettings>
</configuration>