body {
	background: white;
	background-position: left top;
	background-attachment: fixed;
	font-family: verdana, sans-serif;
	font-size: 12px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.4em;
	margin: 0px;
	padding: 0px;
}

/************************************************************************/

h1 {
	font-weight: bold;
	font-size: 1.5em;
	color: #555555;
	width: 100%;
}

/************************************************************************/

a,a:visited,.link {
	color: #7070b8;
}

a:hover {
	color: #1010c8;
}

/************************************************************************/

.application {
	margin: 1em;
}

/************************************************************************/

.content {
	padding: 1em;
	padding-top: 0em;
}

.content p {
	margin-left: 2em;
}

/************************************************************************/

.navigation {
	border-right: 1px solid #ddd;
}

.navigation a {
	display: block;
	padding: 0.5em;
	padding-left: 1em;
}

.navigation .selected a {
	text-decoration: none;
	font-weight: bold;
	color: black;
	background-color: #ddd;
}

/************************************************************************/

table.listing {
	border-bottom: 1px solid #d7d7d7;
	border-collapse: collapse;
	border-spacing: 0;
	clear: both;
	width: 100%;
	margin: 0.4em;
}

table.listing tbody tr {
	border-top: 1px solid #dddddd;
	cursor: pointer;
}

table.listing tbody tr { /*.odd*/
	background-color: #f7f7f7;
}

table.listing tbody tr.even {
	background-color: #fcfcfc;
}

table.listing tbody tr:hover {
	background: #eed;
}

table.listing thead tr,table.listing tbody tr.header {
	background: #f7f7f0 none repeat scroll 0 0;
	cursor: default;
}

table.listing tbody td {
	border: 1px solid #dddddd;
	padding: 0.33em 0.5em;
	vertical-align: middle;
}

table.listing thead th,table.listing tr.header td {
	border-color: #d7d7d7 #d7d7d7 #999999;
	border-style: solid;
	border-width: 1px;
	font-size: 11px;
	font-weight: bold;
	padding-left: 1em;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 1em;
	vertical-align: middle;
	text-align: left;
}

/************************************************************************/

.errorlist {
	list-style: none;
	color: red;
	margin-bottom: 0px;
}

textarea {
	display: block;
}

.simpleform {
	background: #f7f7f0 none repeat scroll 0 0;
	border: 1px outset #999988;
	padding: 0.8em;
}

/************************************************************************/

.messages ul {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
	text-align: center;
}

.messages ul li {
	display: inline;
	background-color: #ffbf0e;
	padding: 0.4em;
}

/************************************************************************/

#loading {
	padding: 1em;
	font-size: large;
}

/************************************************************************/

.buttons {
	margin-top: 0.4em;
}

.field-label {
	text-align: right;
}

.field {
	width:auto;
	margin-left: 0px;
	marin-right: 0px;
}

.waitbox ul li {
	display: block;
	margin: 0px;
	padding: 0px;
}

.waitbox ul li div {
	margin: 0px;
	height: 24px;
	padding-left: 24px;
	padding-right: 1em;
	background-image: url("images/wait.gif");
	background-repeat: no-repeat;
	background-position: 3px 3px;
	display: table-cell;
	vertical-align: middle;
	list-style-type: none;
}

.waitbox ul {
	padding-left: 1em;
}
