/** Add css rules here for your application. */

a, a:visited, a:hover {
	color: #9999ff;
}

.gwt-Hyperlink a {
	padding: 0.5em;
}

#navigation a {
	display: block;
}

.gwt-Hyperlink-selected {
	background-color: #9999ff;
}

.gwt-Hyperlink-selected a, .gwt-Hyperlink-selected a:visited, .gwt-Hyperlink-selected a:hover {
	color: white;
}

#loading {
	padding: 1em;
	font-size: large;
}
