__access__ = 0

db = "mysql" # "sqlite3"/"mysql"/None
debug = False

dbhost = 'localhost'
dbuser = 'user'
dbpasswd = 'secret'
dbname = 'tstatus' # for sqlite3 here will be name of file

static_url = '/tstatus-static'
