<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Plugins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NakamarStates.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Plugins.Properties.Settings>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="WayPointsPath" serializeAs="String">
                <value>WayPoints.xml</value>
            </setting>
            <setting name="CurrentProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="HowMuchHoursAllowedToBotEvery24Hours" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="HowOldHoursNTDIsInteresting" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ConfigWTF" serializeAs="String">
                <value />
            </setting>
        </Plugins.Properties.Settings>
        <NakamarStates.Properties.Settings>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="WayPointsPath" serializeAs="String">
                <value>WayPoints.xml</value>
            </setting>
            <setting name="CurrentProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="HowMuchHoursAllowedToBotEvery24Hours" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="HowOldHoursNTDIsInteresting" serializeAs="String">
                <value>8</value>
            </setting>
        </NakamarStates.Properties.Settings>
    </userSettings>
</configuration>