<!DOCTYPE html 
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	 
{% load googletags %} 

<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">

	<head>
		<meta content="ru-ru" http-equiv="Content-Language" /> <!-- hardcoding lang :( -->
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

		<title>{% block title %}{% endblock %} - World of Alliance</title>

		{% block css %}
			<link rel="stylesheet" type="text/css"  media="screen, projection" href="{{ MEDIA_URL }}combined-{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}.css" />
		    <link rel="stylesheet" type="text/css"  media="print" href="{{ MEDIA_URL }}combined-print-{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}.css" />
		    <!--[if IE]>
			<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ MEDIA_URL }}ie.css">
		    <![endif]-->
		{% endblock %}
		
		{% block js %}
			<script type="text/javascript" src="{{ MEDIA_URL }}combined-{{ LANGUAGE_CODE }}.js"></script>
		{% endblock %}

		{% block extra-head %}{% endblock %}
	</head>

	<body>

		<div class="wrapper">
			<div class="header">
				<a href="{% url website.views.Main %}" class="crazylink"></a>
				<div class="toppanel">
					<!--<div class="loginform">
						<form method="get" action="/login">
							<input type="submit" class="login_submit" value="" tabindex="3" />
							<input type="password" name="password" class="login_password" value="Your Password" tabindex="2" onblur="if (this.value == '') {this.value = 'Your Password';}"  onfocus="if (this.value == 'Your Password') {this.value = '';}"/>
							<input type="text" name="login" class="login_login" value="login" tabindex="1" onblur="if (this.value == '') {this.value = 'login';}"  onfocus="if (this.value == 'login') {this.value = '';}"/>
						</form>
					</div>
					<div class="registration">
						<a href="/registration">Регистрация</a>
					</div>-->
					<div class="hellouser">
						{% if user.is_authenticated %}
							<span>{{ user.username }}</span>
							{% if google_user %}
							  <a class="smallbutton" href="{% google_logout_url request.get_full_path %}">Выйти</a>
							{% else %}
							  <a class="smallbutton" href="{% url django.contrib.auth.views.logout request.get_full_path %}">Войти</a>
							{% endif %}
						{% else %}
							<a class="smallbutton" href="{% url django.contrib.auth.views.login request.get_full_path %}">Войти</a>
						{% endif %}
					</div>
					<div class="topnavpanel">
						{% block topnavpanel %}
						<a class="smallbutton" href="{% url website.views.Contacts %}">Контакты</a>
						<a class="smallbutton" href="{% url website.views.About %}">О нас</a>
						{% endblock %}
					</div>
				</div>
			</div>

			
			<div class="borderexternal">
				<div class="borderinternal">
					<div class="middle">
						<div class="navigation">
							{% block navigation %}
							<a href="{% url website.views.Main %}">Главная</a>
							<a href="#">Купить голд</a>
							{% endblock %}
						</div>
						
						<div class="almostcontent">
							<div class="banner">
								<img class="allybanner" src="{{ MEDIA_URL }}global/images/wow-alliance-banner.png" alt="Alliance"/>
							</div>
							<div class="content">
								{% block content-header %}
									{% if error %}<div class="error">{{ error }}</div>{% endif %}
									{% if info %}<div class="info">{{ info }}</div>{% endif %}
									{% if messages %}
									  {% for message in messages %}
										<div class="info">{{ message }}</div>
									  {% endfor %}
									{% endif %}
							    {% endblock %}
								
								{% block content %}{% endblock %}
							</div>
						</div>
					</div>
					
					<div class="footer">
					{% block footer %}
					&copy; 2010 Burdakov Daniel, Serov Aleksey
					{% endblock %}
					</div>
				</div>
			</div>
		</div>

	</body>

</html>
